In [2]:
import os
import pandas as pd

for filename in os.listdir(os.curdir):
    if filename == "parameters.ipynb":
        pass

    else:
        print(filename)
        parameters = pd.read_csv(filename)
        display(parameters)

alpha_large.csv

           parametr        value
0  cooling_schedule  exponential
1   temperature_max          150
2   temperature_min            5
3             k_max           20
4             alpha        0.999
5    max_iterations         5000
6          neighbor         TRUE

alpha_medium.csv

           parametr        value
0  cooling_schedule  exponential
1   temperature_max          150
2   temperature_min            5
3             k_max           20
4             alpha         0.99
5    max_iterations         5000
6          neighbor         TRUE

alpha_small.csv

           parametr        value
0  cooling_schedule  exponential
1   temperature_max          150
2   temperature_min            5
3             k_max           20
4             alpha         0.91
5    max_iterations         5000
6          neighbor         TRUE

cooling_schedule_boltzmann.csv

           parametr      value
0  cooling_schedule  boltzmann
1   temperature_max        150
2   temperature_min          5
3             k_max         20
4             alpha       0.99
5    max_iterations       5000
6          neighbor       TRUE

cooling_schedule_cauchy.csv

           parametr   value
0  cooling_schedule  cauchy
1   temperature_max     150
2   temperature_min       5
3             k_max      20
4             alpha    0.99
5    max_iterations    5000
6          neighbor    TRUE

cooling_schedule_exponential.csv

           parametr        value
0  cooling_schedule  exponential
1   temperature_max          150
2   temperature_min            5
3             k_max           20
4             alpha         0.99
5    max_iterations         5000
6          neighbor         TRUE

cooling_schedule_linear.csv

           parametr   value
0  cooling_schedule  linear
1   temperature_max     150
2   temperature_min       5
3             k_max      20
4             alpha    0.99
5    max_iterations    5000
6          neighbor    TRUE

cooling_schedule_logarithmic.csv

           parametr        value
0  cooling_schedule  logarithmic
1   temperature_max          150
2   temperature_min            5
3             k_max           20
4             alpha         0.99
5    max_iterations         5000
6          neighbor         TRUE

cooling_schedule_quadratic.csv

           parametr      value
0  cooling_schedule  quadratic
1   temperature_max        150
2   temperature_min          5
3             k_max         20
4             alpha       0.99
5    max_iterations       5000
6          neighbor       TRUE

iteration_at_given_temperature_large.csv

           parametr        value
0  cooling_schedule  exponential
1   temperature_max          150
2   temperature_min            5
3             k_max          150
4             alpha         0.99
5    max_iterations         5000
6          neighbor         TRUE

iteration_at_given_temperature_medium.csv

           parametr        value
0  cooling_schedule  exponential
1   temperature_max          150
2   temperature_min            5
3             k_max           75
4             alpha         0.99
5    max_iterations         5000
6          neighbor         TRUE

iteration_at_given_temperature_small.csv

           parametr        value
0  cooling_schedule  exponential
1   temperature_max           25
2   temperature_min            5
3             k_max           20
4             alpha         0.99
5    max_iterations         5000
6          neighbor         TRUE

neighbour_without_swap.csv

           parametr        value
0  cooling_schedule  exponential
1   temperature_max          150
2   temperature_min            5
3             k_max           20
4             alpha         0.99
5    max_iterations         5000
6          neighbor        FALSE

neighbour_with_swap.csv

           parametr        value
0  cooling_schedule  exponential
1   temperature_max          150
2   temperature_min            5
3             k_max           20
4             alpha         0.99
5    max_iterations         5000
6          neighbor         TRUE

temperature_parametr_large_range.csv

           parametr        value
0  cooling_schedule  exponential
1   temperature_max         1000
2   temperature_min          100
3             k_max           20
4             alpha         0.99
5    max_iterations         5000
6          neighbor         TRUE

temperature_parametr_medium_range.csv

           parametr        value
0  cooling_schedule  exponential
1   temperature_max          200
2   temperature_min           20
3             k_max           20
4             alpha         0.99
5    max_iterations         5000
6          neighbor         TRUE

temperature_parametr_small_range.csv

           parametr        value
0  cooling_schedule  exponential
1   temperature_max           50
2   temperature_min            5
3             k_max           20
4             alpha         0.99
5    max_iterations         5000
6          neighbor         TRUE