In [6]:
import pandas as pd

In [7]:
groups = pd.read_csv('groups.csv')
groups

   group_id group_name
0         0         1a
1         1         1b
2         2         2a
3         3         2b
4         4         3a
5         5         3b
6         6         4a
7         7         4b
8         8         4c

In [8]:
rooms = pd.read_csv('rooms.csv')
rooms

    room_id   room_name
0         0   sala nr 1
1         1   sala nr 2
2         2   sala nr 3
3         3   sala nr 4
4         4   sala nr 5
5         5   sala nr 6
6         6   sala nr 7
7         7   sala nr 8
8         8   sala nr 9
9         9  sala nr 10
10       10  sala nr 11
11       11  sala nr 12
12       12  sala nr 13

In [9]:
teachers = pd.read_csv('teachers.csv')
teachers

    teacher_id           teacher_name
0            0              Jan Nowak
1            1          Lena Kowalska
2            2       Mateusz Kowalski
3            3       Zofia Wiśniewska
4            4           Piotr Wójcik
5            5      Karolina Kamińska
6            6      Paweł Lewandowski
7            7      Natalia Szymańska
8            8         Dominik Kaczor
9            9        Katarzyna Mazur
10          10          Janusz Nosacz
11          11  ?ukasz Stanis?awowski

In [10]:
subjects = pd.read_csv('subjects.csv')
subjects

    subject_id         subject_name  subject_teacher  times_in_week
0            0         Język polski                0              3
1            1      Język angielski                1              3
2            2      Język niemiecki                2              2
3            3  Wychowanie fizyczne                3              3
4            4             Biologia                4              2
5            5               Chemia                5              2
6            6           Matematyka                6              5
7            7            Geografia                7              2
8            8          Informatyka                8              5
9            9               Fizyka                9              3
10          10             Plastyka               10              2
11          11               Muzyka               11              2