In [27]:
import pandas as pd

In [28]:
group_0 = pd.read_csv('timetables/group_0.csv')
group_0

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{},{0: sala nr 8 | Zofia Wiśniewska | Wychowanie ...,{},{0: sala nr 3 | Paweł Lewandowski | Matematyka},{0: sala nr 1 | Natalia Szymańska | Geografia}
1,8:50-9:35,{0: sala nr 8 | Paweł Lewandowski | Matematyka},{},{},{},{}
2,9:40-10:45,{},{0: sala nr 4 | Mateusz Kowalski | Język niemi...,{},{0: sala nr 6 | Zofia Wiśniewska | Wychowanie ...,{}
3,10:50-11:35,{},{},{0: sala nr 5 | Mateusz Kowalski | Język niemi...,{0: sala nr 5 | Dominik Kaczor | Informatyka},{}
4,11:40-12:25,{},{},{0: sala nr 4 | Jan Nowak | Język polski},{},{}
5,12:30-13:15,{0: sala nr 11 | Dominik Kaczor | Informatyka},{},{0: sala nr 6 | Zofia Wiśniewska | Wychowanie ...,{0: sala nr 3 | Paweł Lewandowski | Matematyka...,{}
6,13:20-14:05,{},{0: sala nr 2 | Jan Nowak | Język polski},{},{},{0: sala nr 4 | Lena Kowalska | Język angielsk...
7,14:10-14:55,{},{},{},{},{}
8,15:00-15:45,{},{0: sala nr 5 | Lena Kowalska | Język angielski},{},{},{}
9,15:50-16:35,{0: sala nr 7 | Dominik Kaczor | Informatyka},"{0: sala nr 3 | Jan Nowak | Język polski, 1: s...",{},{},"{0: sala nr 3 | Piotr Wójcik | Biologia, 1: sa..."
10,16:40-17:25,{},{0: sala nr 5 | Paweł Lewandowski | Matematyka},{0: sala nr 8 | Dominik Kaczor | Informatyka},{0: sala nr 6 | Katarzyna Mazur | Fizyka},{}
11,17:30-18:15,{0: sala nr 5 | Lena Kowalska | Język angielski},{0: sala nr 4 | Karolina Kamińska | Chemia},{},{},{0: sala nr 6 | Katarzyna Mazur | Fizyka}

In [29]:
group_1 = pd.read_csv('timetables/group_1.csv')
group_1

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{0: sala nr 6 | Katarzyna Mazur | Fizyka},{0: sala nr 1 | Lena Kowalska | Język angielski},{},{},{}
1,8:50-9:35,{},{},{0: sala nr 6 | Lena Kowalska | Język angielski},{0: sala nr 9 | Piotr Wójcik | Biologia},{}
2,9:40-10:45,{},{},{0: sala nr 2 | Zofia Wiśniewska | Wychowanie ...,{},{}
3,10:50-11:35,{},"{0: sala nr 1 | Jan Nowak | Język polski, 1: s...",{},{0: sala nr 5 | Katarzyna Mazur | Fizyka},{}
4,11:40-12:25,{0: sala nr 3 | Lena Kowalska | Język angielski},{},{},{0: sala nr 11 | Mateusz Kowalski | Język niem...,{}
5,12:30-13:15,{0: sala nr 6 | Mateusz Kowalski | Język niemi...,{},{},{0: sala nr 9 | Dominik Kaczor | Informatyka},{}
6,13:20-14:05,{},{0: sala nr 3 | Piotr Wójcik | Biologia},{},{0: sala nr 5 | Paweł Lewandowski | Matematyka...,{}
7,14:10-14:55,{0: sala nr 11 | Zofia Wiśniewska | Wychowanie...,{},{},{0: sala nr 1 | Paweł Lewandowski | Matematyka...,"{0: sala nr 9 | Dominik Kaczor | Informatyka, ..."
8,15:00-15:45,"{0: sala nr 6 | Jan Nowak | Język polski, 1: s...",{0: sala nr 8 | Dominik Kaczor | Informatyka},{0: sala nr 1 | Karolina Kamińska | Chemia},{},{}
9,15:50-16:35,{},{0: sala nr 6 | Karolina Kamińska | Chemia},{},{},{0: sala nr 6 | Paweł Lewandowski | Matematyka}
10,16:40-17:25,{0: sala nr 9 | Zofia Wiśniewska | Wychowanie ...,{0: sala nr 8 | Jan Nowak | Język polski},{},{},{0: sala nr 8 | Natalia Szymańska | Geografia}
11,17:30-18:15,{},{},{},{},{}

In [30]:
group_2 = pd.read_csv('timetables/group_2.csv')
group_2

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{},{0: sala nr 6 | Paweł Lewandowski | Matematyka},{},{},{0: sala nr 10 | Zofia Wiśniewska | Wychowanie...
1,8:50-9:35,{},{0: sala nr 5 | Lena Kowalska | Język angielsk...,{0: sala nr 9 | Paweł Lewandowski | Matematyka},{},{}
2,9:40-10:45,{},{0: sala nr 9 | Karolina Kamińska | Chemia},{0: sala nr 10 | Dominik Kaczor | Informatyka},{},{0: sala nr 3 | Zofia Wiśniewska | Wychowanie ...
3,10:50-11:35,{0: sala nr 4 | Paweł Lewandowski | Matematyka},{},{},{},{}
4,11:40-12:25,{},"{0: sala nr 2 | Jan Nowak | Język polski, 1: s...",{},"{0: sala nr 8 | Jan Nowak | Język polski, 1: s...",{}
5,12:30-13:15,{0: sala nr 2 | Dominik Kaczor | Informatyka},{0: sala nr 3 | Dominik Kaczor | Informatyka},{},{0: sala nr 6 | Katarzyna Mazur | Fizyka},{}
6,13:20-14:05,{0: sala nr 1 | Karolina Kamińska | Chemia},{},{0: sala nr 4 | Mateusz Kowalski | Język niemi...,{},{}
7,14:10-14:55,{},{},{0: sala nr 9 | Mateusz Kowalski | Język niemi...,{0: sala nr 10 | Paweł Lewandowski | Matematyk...,{}
8,15:00-15:45,{},{},{0: sala nr 11 | Zofia Wiśniewska | Wychowanie...,{},{}
9,15:50-16:35,{},{},{},{},{0: sala nr 10 | Katarzyna Mazur | Fizyka}
10,16:40-17:25,{},{0: sala nr 5 | Katarzyna Mazur | Fizyka},{},{},{}
11,17:30-18:15,{0: sala nr 9 | Natalia Szymańska | Geografia},{},{0: sala nr 5 | Dominik Kaczor | Informatyka},{},{0: sala nr 10 | Lena Kowalska | Język angielski}

In [31]:
group_3 = pd.read_csv('timetables/group_3.csv')
group_3

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{},{},{0: sala nr 7 | Jan Nowak | Język polski},{},{}
1,8:50-9:35,{},{0: sala nr 7 | Paweł Lewandowski | Matematyka},{},{0: sala nr 4 | Piotr Wójcik | Biologia},{0: sala nr 8 | Paweł Lewandowski | Matematyka}
2,9:40-10:45,{},{0: sala nr 7 | Natalia Szymańska | Geografia},{},{},"{0: sala nr 5 | Karolina Kamińska | Chemia, 1:..."
3,10:50-11:35,{0: sala nr 11 | Lena Kowalska | Język angielski},{},{},{},{0: sala nr 9 | Lena Kowalska | Język angielsk...
4,11:40-12:25,"{0: sala nr 11 | Piotr Wójcik | Biologia, 1: s...",{0: sala nr 7 | Dominik Kaczor | Informatyka},{},{},{}
5,12:30-13:15,{0: sala nr 11 | Katarzyna Mazur | Fizyka},{},{},{0: sala nr 11 | Dominik Kaczor | Informatyka},{}
6,13:20-14:05,{},"{0: sala nr 9 | Jan Nowak | Język polski, 1: s...",{0: sala nr 9 | Lena Kowalska | Język angielski},{0: sala nr 6 | Jan Nowak | Język polski},{}
7,14:10-14:55,{},{},{},{},{0: sala nr 8 | Zofia Wiśniewska | Wychowanie ...
8,15:00-15:45,{},{},{},{0: sala nr 6 | Katarzyna Mazur | Fizyka},{}
9,15:50-16:35,{},{},{0: sala nr 4 | Karolina Kamińska | Chemia},{},{}
10,16:40-17:25,{},{},{},{0: sala nr 11 | Mateusz Kowalski | Język niem...,{0: sala nr 9 | Mateusz Kowalski | Język niemi...
11,17:30-18:15,{},{0: sala nr 7 | Dominik Kaczor | Informatyka},{},{},{0: sala nr 9 | Zofia Wiśniewska | Wychowanie ...

In [32]:
group_4 = pd.read_csv('timetables/group_4.csv')
group_4

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{},{},{},{},{0: sala nr 8 | Lena Kowalska | Język angielski}
1,8:50-9:35,{0: sala nr 1 | Paweł Lewandowski | Matematyka},{0: sala nr 5 | Mateusz Kowalski | Język niemi...,{},{},{}
2,9:40-10:45,{},{},{},"{0: sala nr 3 | Dominik Kaczor | Informatyka, ...",{}
3,10:50-11:35,{0: sala nr 10 | Zofia Wiśniewska | Wychowanie...,{0: sala nr 9 | Paweł Lewandowski | Matematyka},{},"{0: sala nr 4 | Jan Nowak | Język polski, 1: s...","{0: sala nr 4 | Natalia Szymańska | Geografia,..."
4,11:40-12:25,{},{0: sala nr 10 | Zofia Wiśniewska | Wychowanie...,{0: sala nr 9 | Piotr Wójcik | Biologia},{},{}
5,12:30-13:15,{},{0: sala nr 11 | Katarzyna Mazur | Fizyka},{},{},{0: sala nr 1 | Piotr Wójcik | Biologia}
6,13:20-14:05,{0: sala nr 6 | Jan Nowak | Język polski},{0: sala nr 2 | Paweł Lewandowski | Matematyka},{},"{0: sala nr 6 | Dominik Kaczor | Informatyka, ...",{}
7,14:10-14:55,{0: sala nr 7 | Lena Kowalska | Język angielski},{},{},{0: sala nr 4 | Katarzyna Mazur | Fizyka},{}
8,15:00-15:45,{},{},{},{},{0: sala nr 2 | Zofia Wiśniewska | Wychowanie ...
9,15:50-16:35,{},{},{},{},{0: sala nr 9 | Mateusz Kowalski | Język niemi...
10,16:40-17:25,{0: sala nr 4 | Paweł Lewandowski | Matematyka...,{},{},"{0: sala nr 3 | Karolina Kamińska | Chemia, 1:...",{0: sala nr 9 | Lena Kowalska | Język angielski}
11,17:30-18:15,{},{},{},{},{0: sala nr 9 | Paweł Lewandowski | Matematyka}

In [33]:
group_5 = pd.read_csv('timetables/group_5.csv')
group_5

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{},{},"{0: sala nr 2 | Jan Nowak | Język polski, 1: s...",{},{}
1,8:50-9:35,{},{0: sala nr 9 | Jan Nowak | Język polski},{},"{0: sala nr 2 | Jan Nowak | Język polski, 1: s...",{0: sala nr 11 | Katarzyna Mazur | Fizyka}
2,9:40-10:45,{},{},{0: sala nr 2 | Mateusz Kowalski | Język niemi...,{0: sala nr 11 | Paweł Lewandowski | Matematyka},{}
3,10:50-11:35,{0: sala nr 6 | Lena Kowalska | Język angielsk...,{},{},{},{}
4,11:40-12:25,{},{0: sala nr 4 | Zofia Wiśniewska | Wychowanie ...,{0: sala nr 1 | Natalia Szymańska | Geografia},"{0: sala nr 3 | Piotr Wójcik | Biologia, 1: sa...",{}
5,12:30-13:15,{},{0: sala nr 11 | Lena Kowalska | Język angiels...,{0: sala nr 9 | Karolina Kamińska | Chemia},{0: sala nr 1 | Zofia Wiśniewska | Wychowanie ...,{}
6,13:20-14:05,{},{0: sala nr 1 | Paweł Lewandowski | Matematyka},{},{},{0: sala nr 10 | Zofia Wiśniewska | Wychowanie...
7,14:10-14:55,{},{0: sala nr 9 | Dominik Kaczor | Informatyka},{},{},{}
8,15:00-15:45,{0: sala nr 2 | Dominik Kaczor | Informatyka},{0: sala nr 8 | Katarzyna Mazur | Fizyka},{},{},{}
9,15:50-16:35,{0: sala nr 8 | Karolina Kamińska | Chemia},{},{0: sala nr 6 | Dominik Kaczor | Informatyka},{},{0: sala nr 11 | Natalia Szymańska | Geografia}
10,16:40-17:25,{},{},{},{},{0: sala nr 10 | Katarzyna Mazur | Fizyka}
11,17:30-18:15,{},{},{},{},{0: sala nr 2 | Mateusz Kowalski | Język niemi...

In [34]:
group_6 = pd.read_csv('timetables/group_6.csv')
group_6

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,"{0: sala nr 1 | Jan Nowak | Język polski, 1: s...",{},{},{},{}
1,8:50-9:35,{},{},{},{},{0: sala nr 9 | Karolina Kamińska | Chemia}
2,9:40-10:45,{},{0: sala nr 11 | Mateusz Kowalski | Język niem...,{},"{0: sala nr 7 | Katarzyna Mazur | Fizyka, 1: s...",{}
3,10:50-11:35,{},{0: sala nr 11 | Lena Kowalska | Język angielski},{},{0: sala nr 11 | Paweł Lewandowski | Matematyka},{0: sala nr 9 | Mateusz Kowalski | Język niemi...
4,11:40-12:25,{0: sala nr 3 | Dominik Kaczor | Informatyka},{},{},{},{}
5,12:30-13:15,{},{0: sala nr 10 | Paweł Lewandowski | Matematyka},{},{0: sala nr 3 | Natalia Szymańska | Geografia},{}
6,13:20-14:05,{0: sala nr 4 | Zofia Wiśniewska | Wychowanie ...,{0: sala nr 7 | Lena Kowalska | Język angielski},{0: sala nr 5 | Lena Kowalska | Język angielsk...,{},{0: sala nr 2 | Piotr Wójcik | Biologia}
7,14:10-14:55,{},{0: sala nr 5 | Zofia Wiśniewska | Wychowanie ...,{0: sala nr 4 | Jan Nowak | Język polski},{0: sala nr 3 | Paweł Lewandowski | Matematyka},{}
8,15:00-15:45,{},{0: sala nr 1 | Zofia Wiśniewska | Wychowanie ...,{},{},{}
9,15:50-16:35,{},{0: sala nr 2 | Dominik Kaczor | Informatyka},{},{},{}
10,16:40-17:25,"{0: sala nr 7 | Jan Nowak | Język polski, 1: s...",{},{0: sala nr 6 | Paweł Lewandowski | Matematyka...,{},{}
11,17:30-18:15,{},{},{0: sala nr 7 | Katarzyna Mazur | Fizyka},{0: sala nr 3 | Dominik Kaczor | Informatyka},{}