In [39]:
import pandas as pd

hours = ['8:00-8:45', '8:50-9:35', '9:40-10:45', '10:50-11:35', '11:40-12:25', '12:30-13:15', '13:20-14:05', '14:10-14:55', '15:00-15:45', '15:50-16:35', '16:40-17:25', '17:30-18:15']

In [40]:
group_0 = pd.read_csv('data/generated/group_0.csv')
group_0.rename(columns = {'Unnamed: 0':'Hours'}, inplace = True)
group_0['Hours'] = hours
group_0

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{},{},{0: sala nr 5 | Piotr Wójcik | Biologia},{0: sala nr 12 | Zofia Wiśniewska | Wychowanie...,{}
1,8:50-9:35,{0: sala nr 5 | Lena Kowalska | Język angielski},{0: sala nr 10 | Natalia Szymańska | Geografia},"{0: sala nr 12 | Jan Nowak | Język polski, 1: ...",{0: sala nr 14 | Paweł Lewandowski | Matematyka},{0: sala nr 1 | Natalia Szymańska | Geografia}
2,9:40-10:45,{0: sala nr 5 | Zofia Wiśniewska | Wychowanie ...,{},{0: sala nr 1 | Lena Kowalska | Język angielsk...,{0: sala nr 5 | Karolina Kamińska | Chemia},{}
3,10:50-11:35,{},{},"{0: sala nr 21 | Jan Nowak | Język polski, 1: ...",{},{}
4,11:40-12:25,{},"{0: sala nr 11 | Jan Nowak | Język polski, 1: ...",{},{},{}
5,12:30-13:15,{},{0: sala nr 15 | Jan Nowak | Język polski},{},{},{0: sala nr 16 | Dominik Kaczor | Informatyka}
6,13:20-14:05,{},{},{},{},{}
7,14:10-14:55,{},{0: sala nr 14 | Katarzyna Mazur | Fizyka},{0: sala nr 11 | Dominik Kaczor | Informatyka},{0: sala nr 19 | Paweł Lewandowski | Matematyka},{0: sala nr 4 | Mateusz Kowalski | Język niemi...
8,15:00-15:45,{},{0: sala nr 8 | Dominik Kaczor | Informatyka},{},{},{0: sala nr 12 | Lena Kowalska | Język angielski}
9,15:50-16:35,{},{},{0: sala nr 14 | Katarzyna Mazur | Fizyka},{},{}
10,16:40-17:25,{},{0: sala nr 9 | Paweł Lewandowski | Matematyka},{0: sala nr 16 | Dominik Kaczor | Informatyka},{},{}
11,17:30-18:15,{0: sala nr 11 | Karolina Kamińska | Chemia},{},{},{},{0: sala nr 15 | Zofia Wiśniewska | Wychowanie...

In [41]:
group_1 = pd.read_csv('data/generated/group_1.csv')
group_1.rename(columns = {'Unnamed: 0':'Hours'}, inplace = True)
group_1['Hours'] = hours
group_1

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{},{},{},"{0: sala nr 9 | Piotr Wójcik | Biologia, 1: sa...",{}
1,8:50-9:35,{},{},{0: sala nr 7 | Mateusz Kowalski | Język niemi...,{0: sala nr 1 | Piotr Wójcik | Biologia},{}
2,9:40-10:45,{},"{0: sala nr 20 | Jan Nowak | Język polski, 1: ...",{},{0: sala nr 21 | Dominik Kaczor | Informatyka},{}
3,10:50-11:35,{},{},{0: sala nr 8 | Katarzyna Mazur | Fizyka},{},"{0: sala nr 19 | Karolina Kamińska | Chemia, 1..."
4,11:40-12:25,{},{},{0: sala nr 16 | Lena Kowalska | Język angiels...,{},{}
5,12:30-13:15,{0: sala nr 14 | Dominik Kaczor | Informatyka},{0: sala nr 6 | Paweł Lewandowski | Matematyka},{},{},{0: sala nr 4 | Natalia Szymańska | Geografia}
6,13:20-14:05,{},{},{},{0: sala nr 9 | Mateusz Kowalski | Język niemi...,{0: sala nr 6 | Paweł Lewandowski | Matematyka}
7,14:10-14:55,{},{0: sala nr 19 | Paweł Lewandowski | Matematyka},{},{},"{0: sala nr 6 | Katarzyna Mazur | Fizyka, 1: s..."
8,15:00-15:45,{},{},{0: sala nr 2 | Zofia Wiśniewska | Wychowanie ...,{0: sala nr 19 | Paweł Lewandowski | Matematyka},{0: sala nr 5 | Zofia Wiśniewska | Wychowanie ...
9,15:50-16:35,{},{},{},{},{0: sala nr 2 | Lena Kowalska | Język angielski}
10,16:40-17:25,{0: sala nr 12 | Jan Nowak | Język polski},{0: sala nr 5 | Jan Nowak | Język polski},{},{},{}
11,17:30-18:15,{0: sala nr 19 | Lena Kowalska | Język angiels...,{},{},{0: sala nr 20 | Dominik Kaczor | Informatyka},{0: sala nr 1 | Jan Nowak | Język polski}

In [42]:
group_2 = pd.read_csv('data/generated/group_2.csv')
group_2.rename(columns = {'Unnamed: 0':'Hours'}, inplace = True)
group_2['Hours'] = hours
group_2

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{},{},{},{0: sala nr 1 | Paweł Lewandowski | Matematyka},{}
1,8:50-9:35,{},{},{},{},{0: sala nr 16 | Jan Nowak | Język polski}
2,9:40-10:45,{0: sala nr 12 | Paweł Lewandowski | Matematyka},{0: sala nr 6 | Mateusz Kowalski | Język niemi...,{0: sala nr 6 | Jan Nowak | Język polski},{},{0: sala nr 15 | Dominik Kaczor | Informatyka}
3,10:50-11:35,{},{},"{0: sala nr 15 | Jan Nowak | Język polski, 1: ...",{},{}
4,11:40-12:25,{},{},{},{},{}
5,12:30-13:15,{},{},{},{},{0: sala nr 5 | Lena Kowalska | Język angielsk...
6,13:20-14:05,{},{},{},{0: sala nr 5 | Zofia Wiśniewska | Wychowanie ...,{0: sala nr 6 | Piotr Wójcik | Biologia}
7,14:10-14:55,{},"{0: sala nr 13 | Jan Nowak | Język polski, 1: ...",{},{0: sala nr 9 | Lena Kowalska | Język angielsk...,{0: sala nr 15 | Katarzyna Mazur | Fizyka}
8,15:00-15:45,{},"{0: sala nr 19 | Karolina Kamińska | Chemia, 1...",{},{0: sala nr 9 | Lena Kowalska | Język angielsk...,{}
9,15:50-16:35,{0: sala nr 10 | Zofia Wiśniewska | Wychowanie...,{},{0: sala nr 12 | Katarzyna Mazur | Fizyka},{0: sala nr 13 | Piotr Wójcik | Biologia},{}
10,16:40-17:25,{0: sala nr 1 | Mateusz Kowalski | Język niemi...,{},{},{},{}
11,17:30-18:15,{0: sala nr 3 | Paweł Lewandowski | Matematyka},{},{0: sala nr 9 | Dominik Kaczor | Informatyka},{},{0: sala nr 19 | Lena Kowalska | Język angielski}

In [43]:
group_3 = pd.read_csv('data/generated/group_3.csv')
group_3.rename(columns = {'Unnamed: 0':'Hours'}, inplace = True)
group_3['Hours'] = hours
group_3

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{},{0: sala nr 15 | Paweł Lewandowski | Matematyka},{0: sala nr 18 | Piotr Wójcik | Biologia},"{0: sala nr 3 | Karolina Kamińska | Chemia, 1:...",{0: sala nr 4 | Paweł Lewandowski | Matematyka}
1,8:50-9:35,{0: sala nr 17 | Dominik Kaczor | Informatyka},{},{0: sala nr 19 | Jan Nowak | Język polski},{},{}
2,9:40-10:45,{},{},{},{0: sala nr 15 | Jan Nowak | Język polski},{}
3,10:50-11:35,{},{0: sala nr 18 | Zofia Wiśniewska | Wychowanie...,{},{0: sala nr 9 | Mateusz Kowalski | Język niemi...,{}
4,11:40-12:25,{0: sala nr 8 | Lena Kowalska | Język angielski},{0: sala nr 13 | Katarzyna Mazur | Fizyka},{0: sala nr 3 | Katarzyna Mazur | Fizyka},{},{}
5,12:30-13:15,"{0: sala nr 8 | Dominik Kaczor | Informatyka, ...",{},{0: sala nr 8 | Katarzyna Mazur | Fizyka},{0: sala nr 6 | Piotr Wójcik | Biologia},{}
6,13:20-14:05,{},{},{0: sala nr 1 | Jan Nowak | Język polski},{},{0: sala nr 19 | Paweł Lewandowski | Matematyk...
7,14:10-14:55,{0: sala nr 2 | Lena Kowalska | Język angielski},{},{},{},{0: sala nr 20 | Lena Kowalska | Język angielski}
8,15:00-15:45,{},{},{},{},{}
9,15:50-16:35,"{0: sala nr 14 | Jan Nowak | Język polski, 1: ...",{},{0: sala nr 5 | Karolina Kamińska | Chemia},{},{}
10,16:40-17:25,{0: sala nr 11 | Mateusz Kowalski | Język niem...,{0: sala nr 15 | Natalia Szymańska | Geografia},{},{},{0: sala nr 2 | Paweł Lewandowski | Matematyka...
11,17:30-18:15,{0: sala nr 17 | Dominik Kaczor | Informatyka},{0: sala nr 21 | Lena Kowalska | Język angielski},{},{},{}

In [44]:
group_4 = pd.read_csv('data/generated/group_4.csv')
group_4.rename(columns = {'Unnamed: 0':'Hours'}, inplace = True)
group_4['Hours'] = hours
group_4

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{},{},{},{0: sala nr 7 | Katarzyna Mazur | Fizyka},{}
1,8:50-9:35,{},"{0: sala nr 8 | Piotr Wójcik | Biologia, 1: sa...",{},{0: sala nr 13 | Zofia Wiśniewska | Wychowanie...,{}
2,9:40-10:45,{},{},{},{},{}
3,10:50-11:35,{},{},{0: sala nr 1 | Paweł Lewandowski | Matematyka},{0: sala nr 8 | Jan Nowak | Język polski},{0: sala nr 5 | Dominik Kaczor | Informatyka}
4,11:40-12:25,{},{},{},{},{0: sala nr 10 | Jan Nowak | Język polski}
5,12:30-13:15,{},{0: sala nr 6 | Karolina Kamińska | Chemia},{},{},{}
6,13:20-14:05,{0: sala nr 18 | Katarzyna Mazur | Fizyka},{},"{0: sala nr 4 | Piotr Wójcik | Biologia, 1: sa...",{},{}
7,14:10-14:55,{},"{0: sala nr 10 | Jan Nowak | Język polski, 1: ...",{},{},{0: sala nr 15 | Lena Kowalska | Język angiels...
8,15:00-15:45,{0: sala nr 14 | Lena Kowalska | Język angiels...,{0: sala nr 12 | Lena Kowalska | Język angielski},{},{0: sala nr 15 | Katarzyna Mazur | Fizyka},{0: sala nr 3 | Dominik Kaczor | Informatyka}
9,15:50-16:35,{0: sala nr 2 | Zofia Wiśniewska | Wychowanie ...,{0: sala nr 6 | Karolina Kamińska | Chemia},{},{0: sala nr 8 | Lena Kowalska | Język angielski},{0: sala nr 1 | Jan Nowak | Język polski}
10,16:40-17:25,{},{0: sala nr 2 | Paweł Lewandowski | Matematyka},{},{},{0: sala nr 4 | Natalia Szymańska | Geografia}
11,17:30-18:15,{0: sala nr 20 | Mateusz Kowalski | Język niem...,{0: sala nr 8 | Zofia Wiśniewska | Wychowanie ...,{0: sala nr 6 | Katarzyna Mazur | Fizyka},{},{}

In [45]:
group_5 = pd.read_csv('data/generated/group_5.csv')
group_5.rename(columns = {'Unnamed: 0':'Hours'}, inplace = True)
group_5['Hours'] = hours
group_5

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{},{},{0: sala nr 4 | Paweł Lewandowski | Matematyka},{},{0: sala nr 18 | Jan Nowak | Język polski}
1,8:50-9:35,{},{0: sala nr 16 | Paweł Lewandowski | Matematyka},{},{},{}
2,9:40-10:45,{0: sala nr 10 | Paweł Lewandowski | Matematyk...,{0: sala nr 14 | Dominik Kaczor | Informatyka},{},{0: sala nr 7 | Paweł Lewandowski | Matematyka},{0: sala nr 4 | Lena Kowalska | Język angielski}
3,10:50-11:35,{0: sala nr 19 | Zofia Wiśniewska | Wychowanie...,{},{0: sala nr 10 | Dominik Kaczor | Informatyka},{},{0: sala nr 6 | Jan Nowak | Język polski}
4,11:40-12:25,{0: sala nr 20 | Katarzyna Mazur | Fizyka},{},{0: sala nr 13 | Lena Kowalska | Język angielski},{},"{0: sala nr 19 | Karolina Kamińska | Chemia, 1..."
5,12:30-13:15,{},{0: sala nr 8 | Zofia Wiśniewska | Wychowanie ...,{},{0: sala nr 5 | Dominik Kaczor | Informatyka},{0: sala nr 1 | Mateusz Kowalski | Język niemi...
6,13:20-14:05,"{0: sala nr 20 | Jan Nowak | Język polski, 1: ...",{0: sala nr 17 | Katarzyna Mazur | Fizyka},{},{},{0: sala nr 7 | Lena Kowalska | Język angielski}
7,14:10-14:55,{},{0: sala nr 20 | Jan Nowak | Język polski},{},{},{}
8,15:00-15:45,{},{},{},{},{}
9,15:50-16:35,{},{0: sala nr 8 | Natalia Szymańska | Geografia},{0: sala nr 15 | Piotr Wójcik | Biologia},{},{0: sala nr 1 | Dominik Kaczor | Informatyka}
10,16:40-17:25,{0: sala nr 9 | Karolina Kamińska | Chemia},{},{},{},{0: sala nr 6 | Zofia Wiśniewska | Wychowanie ...
11,17:30-18:15,{},{},{0: sala nr 1 | Piotr Wójcik | Biologia},{0: sala nr 19 | Mateusz Kowalski | Język niem...,{0: sala nr 3 | Lena Kowalska | Język angielski}

In [46]:
group_6 = pd.read_csv('data/generated/group_6.csv')
group_6.rename(columns = {'Unnamed: 0':'Hours'}, inplace = True)
group_6['Hours'] = hours
group_6

,Hours,Day 1,Day 2,Day 3,Day 4,Day 5
0,8:00-8:45,{},{0: sala nr 16 | Dominik Kaczor | Informatyka},{},{0: sala nr 1 | Lena Kowalska | Język angielsk...,{0: sala nr 11 | Lena Kowalska | Język angielski}
1,8:50-9:35,{},{0: sala nr 5 | Zofia Wiśniewska | Wychowanie ...,{},{0: sala nr 16 | Paweł Lewandowski | Matematyka},{}
2,9:40-10:45,{},{0: sala nr 13 | Piotr Wójcik | Biologia},{},{},{0: sala nr 19 | Zofia Wiśniewska | Wychowanie...
3,10:50-11:35,{0: sala nr 1 | Zofia Wiśniewska | Wychowanie ...,{},{0: sala nr 2 | Karolina Kamińska | Chemia},{},{}
4,11:40-12:25,{0: sala nr 8 | Mateusz Kowalski | Język niemi...,{},{0: sala nr 7 | Paweł Lewandowski | Matematyka},{0: sala nr 15 | Jan Nowak | Język polski},{}
5,12:30-13:15,{},{},{0: sala nr 17 | Jan Nowak | Język polski},{},{}
6,13:20-14:05,{},{},{0: sala nr 1 | Natalia Szymańska | Geografia},{},{}
7,14:10-14:55,{0: sala nr 15 | Mateusz Kowalski | Język niem...,{},{0: sala nr 13 | Katarzyna Mazur | Fizyka},{0: sala nr 15 | Natalia Szymańska | Geografia...,{}
8,15:00-15:45,{},{},{},{},{}
9,15:50-16:35,{0: sala nr 11 | Dominik Kaczor | Informatyka},{},{0: sala nr 1 | Lena Kowalska | Język angielski},{0: sala nr 1 | Jan Nowak | Język polski},{0: sala nr 3 | Dominik Kaczor | Informatyka}
10,16:40-17:25,{0: sala nr 1 | Paweł Lewandowski | Matematyka},{},{},{},{0: sala nr 13 | Lena Kowalska | Język angielski}
11,17:30-18:15,{0: sala nr 6 | Paweł Lewandowski | Matematyka},"{0: sala nr 19 | Jan Nowak | Język polski, 1: ...",{},{},{0: sala nr 13 | Karolina Kamińska | Chemia}