In [60]:
import pandas as pd

In [65]:
groups = pd.read_csv('groups.csv')
groups

   group_id group_name
0         1         1a
1         2         1b
2         3         2a
3         4         2b
4         5         3a
5         6         3b
6         8         4b

In [62]:
rooms = pd.read_csv('rooms.csv')
rooms

    room_id   room_name
0         1   sala nr 1
1         2   sala nr 2
2         3   sala nr 3
3         4   sala nr 4
4         5   sala nr 5
5         6   sala nr 6
6         7   sala nr 7
7         8   sala nr 8
8         9   sala nr 9
9        10  sala nr 10
10       11  sala nr 11
11       12  sala nr 12
12       13  sala nr 13
13       14  sala nr 14
14       15  sala nr 15
15       16  sala nr 16
16       17  sala nr 17
17       18  sala nr 18
18       19  sala nr 19
19       20  sala nr 20
20       21  sala nr 21

In [63]:
teachers = pd.read_csv('teachers.csv')
teachers

   teacher_id       teacher_name
0           1          Jan Nowak
1           2      Lena Kowalska
2           3   Mateusz Kowalski
3           4   Zofia Wiśniewska
4           5       Piotr Wójcik
5           6  Karolina Kamińska
6           7  Paweł Lewandowski
7           8  Natalia Szymańska
8           9     Dominik Kaczor
9          10    Katarzyna Mazur

In [64]:
subjects = pd.read_csv('subjects.csv')
subjects

   subject_id         subject_name  subject_teacher  times_in_week
0           1         Język polski                1              4
1           2      Język angielski                2              4
2           3      Język niemiecki                3              2
3           4  Wychowanie fizyczne                4              3
4           5             Biologia                5              2
5           6               Chemia                6              2
6           7           Matematyka                7              5
7           8            Geografia                8              2
8           9          Informatyka                9              5
9          10               Fizyka               10              4